*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';

}

.container{
  width: 100vw;
  height: 100vh;
  background: black;

}

.nav{
  width: 100%;
  height: auto;

  color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  line-height: 50px;
}
.input{
  margin-left: 50px;
}
#btn{
  width: 80px;
}

.main{
  width: 100%;
  height: 100%;
  background: red;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  overflow-y: auto;

}

.movie, .series{
  width: 50%;
  height: auto;

}


.align{
  text-align: center;
}

.flag{
  width: 15px;
  height: auto;
  position: relative;
  top: 3px;
}
.box-movie{
  width: 300px;
  height: 440px;
  background-repeat: no-repeat;
  margin: 25px;
  box-shadow: 5px 5px 15px black;
  color: white;
  transition: transform .4s;

}

.box-movie:hover{
   transform: scale(1.1);
}
.info{
  height: inherit;
  font-size: 15px;
  display: none;
  padding: 15px;
  text-align: center;
  line-height: 25px;
  background: black;
  overflow-y: auto;


}
.info::-webkit-scrollbar {
  display: none;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.over{
  font-size: 10px;
}
.titolo{
  font-size: 30px;
  margin-bottom: 15px;
}

#query{
 width: 200px;
 height: 25px;
 margin-right: 5px;

}
#moreInfo{
  width: 100px;
  height: 50px;

}


.getCast{
  width: 100px;
  height: 50px;
  z-index: 100;
  background: black;
  color: red;

}
.cast-container{
  width: 80%;
  height: 500px;
  border-radius: 5px;
  padding: 30px;
  background: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 5px 5px 15px black;


}

.cast-container i{
  position: absolute;
  top: 20px;
  right: 20px;
}


.actor{
  margin: 20px;
}
